<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>自由行首页子页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/independentTravel/independent-travel-sub.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<div class="first part">
			<div class="travel-item">
				<img src="../../img/independent/dali.png" alt="" />
				<div class="description">
					<div class="name">云南·大理</div>
					<div class="enName">Yunnan·Dali</div>
					<div class="remark">跋山涉水，只为遇见更好的自己</div>
				</div>

			</div>
			<div class="travel-item">
				<img src="../../img/independent/xizang.png" alt="" />
				<div class="description">
					<div class="name">中国·西藏</div>
					<div class="enName">China·Tibet</div>
					<div class="remark">用温柔的手，是否能触摸到天堂</div>
				</div>

			</div>
			<div class="travel-item">
				<img src="../../img/independent/zhangjiajie.png" alt="" />
				<div class="description">
					<div class="name">湖南·张家界</div>
					<div class="enName">Hunan·Zhangjiajie</div>
					<div class="remark">梦幻张家界，一步一重天，朦胧已经年</div>
				</div>

			</div>
			<div class="travel-item">
				<img src="../../img/independent/hongkong.png" alt="" />
				<div class="description">
					<div class="name">中国·香港</div>
					<div class="enName">China·Hong Kong</div>
					<div class="remark">东方传统文化与现代气息结合的别样风情</div>
				</div>

			</div>

		</div>
		<div class="travel hotSale">
			<div class="title">热卖国内自由行<i><img src="../../img/index/back.png" alt="" /></i></div>
			<div class="travelAddress mui-row">
				<div class="travel-item mui-col-xs-12 mui-col-sm-12">
					<div><img src="../../img/index/p9_03.png" alt="" /></div>
					<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
					<div class="other">
						<span class="qi"><img src="../../img/index/qi.png" alt="" /></span><span>4837</span>
						<span class="fo"><img src="../../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
					</div>
					<div class="price">¥21999/人起</div>
				</div>
				<div class="travel-item mui-col-xs-12 mui-col-sm-12">
					<div><img src="../../img/index/p9_03.png" alt="" /></div>
					<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
					<div class="other">
						<span class="qi"><img src="../../img/index/qi.png" alt="" /></span><span>4837</span>
						<span class="fo"><img src="../../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
					</div>
					<div class="price">¥21999/人起</div>
				</div>
				<div class="travel-item mui-col-xs-12 mui-col-sm-12">
					<div><img src="../../img/index/p9_03.png" alt="" /></div>
					<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
					<div class="other">
						<span class="qi"><img src="../../img/index/qi.png" alt="" /></span><span>4837</span>
						<span class="fo"><img src="../../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
					</div>
					<div class="price">¥21999/人起</div>
				</div>
				<div class="travel-item mui-col-xs-12 mui-col-sm-12">
					<div><img src="../../img/index/p9_03.png" alt="" /></div>
					<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
					<div class="other">
						<span class="qi"><img src="../../img/index/qi.png" alt="" /></span><span>4837</span>
						<span class="fo"><img src="../../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
					</div>
					<div class="price">¥21999/人起</div>
				</div>
				<div class="travel-item mui-col-xs-12 mui-col-sm-12">
					<div><img src="../../img/index/p9_03.png" alt="" /></div>
					<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
					<div class="other">
						<span class="qi"><img src="../../img/index/qi.png" alt="" /></span><span>4837</span>
						<span class="fo"><img src="../../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
					</div>
					<div class="price">¥21999/人起</div>
				</div>

			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/common.js">
		</script>
		<script type="text/javascript">
			var self, mian;
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				main = plus.webview.getWebviewById('views/IndependentTravel/independent-travel-main.html');
			})
		</script>
	</body>

</html>