<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/index/index.css" />

	</head>

	<body id="index">
		<div class="mui-content">
			<div class="banner">
				<img src="../img/index/bg.png" alt="" />
				<div class="search">
					<i class="mui-icon-search mui-icon"></i>
					<input type="text" name="" id="" value="搜索 旅游地/游记/人" />
				</div>
			</div>
			<div class="content">
				<div class="travel">
					<div class="title">避暑胜地<i><img src="../img/index/back.png" alt="" /></i></div>
					<div class="travelAddress mui-row">
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p1.png" alt="" /></div>
							<div class="name">马尔代夫</div>
							<div class="description">蓝天白云 椰林树影 水清沙幼</div>
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p2.png" alt="" /></div>
							<div class="name">曼谷 </div>
							<div class="description">天使之城 佛教圣地</div>
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p3.png" alt="" /></div>
							<div class="name">台湾 </div>
							<div class="description">日月碧波 阿里林涛</div>
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p4.png" alt="" /></div>
							<div class="name">苏梅岛 </div>
							<div class="description">椰树之岛 查汶海滩</div>
						</div>
					</div>
				</div>
				<div class="travel special">
					<div class="title">牛掰专题<i><img src="../img/index/back.png" alt="" /></i></div>
					<div class="travelAddress mui-row">
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p5_03.png" alt="" /></div>
							<div class="name">情侣游</div>
							<!--<div class="description">蓝天白云 椰林树影 水清沙幼</div>-->
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p5_05.png" alt="" /></div>
							<div class="name">清凉游 </div>
							<!--<div class="description">天使之城 佛教圣地</div>-->
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p5_10.png" alt="" /></div>
							<div class="name">周末游 </div>
							<!--<div class="description">日月碧波 阿里林涛</div>-->
						</div>
						<div class="travel-item mui-col-xs-6 mui-col-sm-6">
							<div><img src="../img/index/p5_12.png" alt="" /></div>
							<div class="name">吃货游 </div>
							<!--<div class="description">椰树之岛 查汶海滩</div>-->
						</div>
					</div>
				</div>
				<div class="travel onRoad">
					<div class="title">我在“路上”等你<i><img src="../img/index/back.png" alt="" /></i></div>
					<div class="travelAddress mui-row">
						<div class="travel-item mui-col-xs-12 mui-col-sm-12">
							<div><img src="../img/index/p8_03.png" alt="" /></div>
							<div class="commont">
								<div class="description">去南纬8°S神仙住的地方--巴厘岛</div>
								<div class="time">2016.07.18/7天/115图</div>
								<div class="u_commont">
									<div class="icon">
										<div><img src="../img/index/icons_05.png" alt="" /></div>
										<div>
											<div class="u_name">赤道鱼</div>
											<div class="num">
												<span><img src="../img/index/focus.png" alt="" /></span><span><span class="f-num">9857</span></span>
												<span><img src="../img/index/collect.png" alt="" /></span><span><span class="coll-num">1356</span></span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="travel-item mui-col-xs-12 mui-col-sm-12">
							<div><img src="../img/index/p8_07.png" alt="" /></div>
							<div class="commont">
								<div class="description">那一片治愈系的海--马尔代夫</div>
								<div class="time">2016.07.18/5天/80图</div>
								<div class="u_commont">
									<div class="icon">
										<div><img src="../img/index/icons_07.png" alt="" /></div>
										<div>
											<div class="u_name">Jill</div>
											<div class="num">
												<span><img src="../img/index/focus.png" alt="" /></span><span><span class="f-num">8954</span></span>
												<span><img src="../img/index/collect.png" alt="" /></span><span><span class="coll-num">1200</span></span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="travel recommend">
					<div class="title">走心推荐<i><img src="../img/index/back.png" alt="" /></i></div>
					<div class="travelAddress mui-row">
						<div class="travel-item mui-col-xs-12 mui-col-sm-12">
							<div><img src="../img/index/p9_03.png" alt="" /></div>
							<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
							<div class="other">
								<span class="qi"><img src="../img/index/qi.png" alt="" /></span><span>4837</span>
								<span class="fo"><img src="../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
							</div>
							<div class="price">¥21999/人起</div>
						</div>
						<div class="travel-item mui-col-xs-12 mui-col-sm-12">
							<div><img src="../img/index/p9_06.png" alt="" /></div>
							<div class="reason">斯里兰卡+迪拜10日8晚自由行（3晚迪拜五星酒 店+5晚斯里兰卡四星酒店） 精品旅游套餐</div>
							<div class="other">
								<span class="qi"><img src="../img/index/qi.png" alt="" /></span><span>8296</span>
								<span class="fo"><img src="../img/index/grayfo.png" alt="" /></span><span>2.1万</span>
							</div>
							<div class="price">¥11299/人起</div>
						</div>
						<div class="travel-item mui-col-xs-12 mui-col-sm-12">
							<div><img src="../img/index/p9_08.png" alt="" /></div>
							<div class="reason">广州直飞澳大利亚10天往返（悉尼、新南威尔士 州、墨尔本、维多利亚州） 精品旅游套餐</div>
							<div class="other">
								<span class="qi"><img src="../img/index/qi.png" alt="" /></span><span>2499</span>
								<span class="fo"><img src="../img/index/grayfo.png" alt="" /></span><span>1.5万</span>
							</div>
							<div class="price">¥21999/人起</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<script type="text/javascript" src="../js/common/common.js">
		</script>
		<script type="text/javascript">		
		</script>
	</body>

</html>