.mui-bar-nav a.mui-icon {
    font-size: 1.8rem;
    color: #333;
}

.mui-bar-nav {
    -webkit-box-shadow: 0px 0px 0px #ccc;
    box-shadow: 0px 0px 0px #ccc;
}

.mui-icon {
    line-height: 50px;
}

.mui-bar-nav a.mui-icon.mui-icon-checkmarkempty {
    color: #007aff;
}

.mui-bar .mui-icon {
    padding-top: 0px;
    padding-bottom: 0px;
}

.mui-content input::-webkit-input-placeholder {
    color: #DDDDDD;
    opacity: 0.6;
    font-size: 0.9rem;
}

.mui-content .mui-input-group {
    background-color: #278DFD;
    color: #fff;
    height: 3rem;
    font-size: 0.9rem;
    line-height: 3rem;
}

.mui-content .mui-input-group .mui-icon-close-filled {
    color: #a4c4ec;
    font-size: 1rem;
    display: none;
}

.mui-content .mui-input-group input {
    width: 90%;
    font-size: 0.8rem;
}

.mui-content .choseTimePart {
    background: #ECF3FD;
    color: #333;
    padding: 5px 10px;
    border-bottom: solid 1px #e2e2e2;
}

.mui-content .clickDate {
    font-size: 0.8rem;
    line-height: 1.5rem;
    height: 1.5rem;
}

.eventPart {
    background: rgba(91, 166, 251, 0.2);
    color: #007aff;
    width: 100%;
    height: 1.2rem;
    border: solid 1px rgba(91, 166, 251, 0.3);
    font-size: 0.8rem;
    padding-left: 0.5rem;
    line-height: 1.2rem;
}

.choseTimePart .mui-row > div {
    height: 1.5rem;
}

.choseTimePart .mui-row .mui-col-xs-6:first-child {
    border-left: solid 1px rgba(221, 221, 221, 0.6);
}

.choseTimePart .mui-row .mui-col-xs-6:last-child {
    border-left: solid 1px rgba(221, 221, 221, 0.6);
    border-right: solid 1px rgba(221, 221, 221, 0.6);
}

.choseTimePart .startTime {
    text-align: left;
}

.choseTimePart .middleTime {
    text-align: center;
}

.choseTimePart .endTime {
    text-align: right;
}

.choseTimePart .mui-row .mui-col-xs-4 span {
    padding: 0.1rem 0.4rem;
    font-size: 0.7rem;
}

.choseTimePart .mui-row .mui-col-xs-4:first-child span {
    border: solid 1px rgba(221, 221, 221, 0.7);
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background: #fff;
}

.choseTimePart .mui-row .mui-col-xs-4:last-child span {
    border: solid 1px rgba(221, 221, 221, 0.7);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background: #fff;
}

.mui-dtpicker-header {
    height: 2.5rem;
}

#template {
    display: none;
}

.mui-dtpicker-header .mui-switch-mini {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 1.4rem;
}

.mui-switch .mui-switch-handle {
    width: 1.2rem;
    height: 1.2rem;
}

.mui-switch.mui-active {
    border-color: #007aff;
    background-color: #007aff;
}

.mui-switch {
    background-clip: content-box;
    border: solid 1px #ddd;
}

.mui-backdrop {
    background-color: rgba(0, 0, 0, 0);
}

.pickerBottom .mui-col-xs-6 {
    text-align: center;
    margin: 0.5rem 0rem;
    color: #333;
    font-size: 0.8rem;
}

.pickerBottom .mui-col-xs-6:first-child {
    border-right: solid 1px #ddd;
}

.pickerBottom .mui-col-xs-6.active {
    color: #007aff;
}

.choseTimePart .mui-row .mui-col-xs-4:first-child.active span,
.choseTimePart .mui-row .mui-col-xs-4:last-child.active span {
    border: solid 1px #1260e8;
}

.mui-bar-nav a.mui-icon.mui-icon-trash,
.mui-bar-nav a.mui-icon-checkmarkempty{
    display: none;
}

.mui-bar-nav a.mui-icon.mui-icon-trash {
    font-size: 1.6rem;
}

.mui-dtpicker {
    bottom: -25px;
}

.mui-dtpicker.mui-active {
    bottom: 0px;
}

.warning {
    background: #ffffff;
    color: #333333;
    padding: 0.8rem 0.5rem;
    border-top: solid 1px #d2d2d2;
    border-bottom: solid 1px #d2d2d2;
    margin-top: 0.5rem;
    position: relative;
    text-align: center;
    font-size: 0.8rem;
}

